{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
</head>
<body style="display: flex;  justify-content: flex-start; align-items: center; height: 100vh;  margin: 0; background-color: #f0f2f5;">
    {% block content %}
    <div class="form-container" style="border: 2px solid #4a90e2; border-radius: 10px; padding: 50px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%; max-width: 400px; text-align: center; margin-left: 30%;">
        <h1 style="margin-bottom: 20px; color: #333;">Create Department</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="dept_name"><strong>Department Name:</strong></label><br>
                <input type="text" name="dept_name" id="name" required style="width: 90%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            </div>
            <div>
                <label for="description"><strong>Department Description:</strong></label><br>
                <input type="text" name="description" id="description" required style="width: 90%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            </div>
            <input type="submit" value="Create" style="width: 90%; padding: 10px; margin: 10px 0; border: none; background-color: #4a90e2; color: white; border-radius: 5px; cursor: pointer;">
        </form>
    </div>
    {% endblock %}
</body>
</html>
